.margin {
    background-color: yellow;
}
.flex {
    display: flex;
    justify-content: center;
    align-content: center;
}

#q {
    background-image: url("../images/birch.jpg");
    background-position: center;
    height: 100px;
}

#a {
    background-color: rgb(142, 211, 145);
    height: 100px;
}
#s {
    background-color: rgb(102, 72, 32);
    color: white;
}
#s:hover {
    background-color: rgb(194, 160, 115);
    color: black;
}

.answerDiv {
    text-align: center;
    width: 250px;
    height: 50px;
    background-color: white;
}
.selected {
    background-color: rgb(241, 240, 139);
}